/* selector universal para resetear la página */
* {
	margin: 0px;
	padding: 0px;
	display: inherit;
	box-sizing: border-box;
}
/* Se definio el estilo a esta etiqueta ya que aparecia en el html */
title {
	display: none;
}

/* selector container, para aplicar a los div */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 100px;
  text-align: center;
}
/* centrar imagen de Start */
.centrado {
	margin: 0 auto;
}
/* selector para tipografia (tamaño, color y tipo) */
.white-text-monse {
	color: white;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
/* selector para tipografia (tamaño, color y tipo) */
.white-lato {
	color: white;
	font-size: 28px;
	font-family: 'Lato', sans-serif;
}
/* selector para tipografia (tamaño, color y tipo) */
.blue-monse {
	color: #222529;
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
}

/* Barra de Navegación */
nav {
	background-color: #2D3E4F;
	height: 106px;
	width: 100%;
}

/* Titulo Nav (seria como el Logo de la página) */
.logo {
	max-width: 450px;
	height: 100px;
	display: inline-block;
	font-size: 25px;
}

nav h1 {
	color: white;
	font-family:'Montserrat', sans-serif;
	margin-left: 72px;
	padding-top: 30px;
}


/* Menú */
ul{
	list-style: none;
	float: right;
	margin-right: 61px;
	font-size: 20px;
}

ul li {
	display: block; 
	font-family:'Montserrat', sans-serif;
	float: right;
	padding-top: 45px;
	padding-left: 30px;	
}

ul li a {
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

ul li a:hover {
	color: #28BB9C;
}

/* Primera parte Section Start */
#start {
	height: 683px;
	background-color: #28BB9C;
}	

#start i {
	color: white;
	font-size: 36px;
}

/* sección portafolio */
#portfolio .container {
	height: 850px;
	padding-left: 55px;
	padding-right: 56px;
	text-align: center;

}

#portfolio a img {
	width: 350px;
	height: 250px;
	display: inline-block;
	float: left;
	padding: 10px;
	margin: 5px;
}

.img {
	padding-left: 45px;
}

#portfolio i {
	font-size: 36px ;
}

/* seccion About */

#column{
	height: 580px;
	background-color: #28BB9C;
	padding-top: 100px;
	text-align: center;
}

.about {
	max-width: 700px;
	margin: 0 auto;
}

.about h1 {
	margin-bottom: 15px;
	text-align: center
}
/* texto en columna sección about */
.left {
	display: inline;
	float: left;
	max-width: 345px;
}

.right {
	display: inline;
	float: right;
	max-width: 345px;
} 

.cuadrado {
	margin-bottom: 20px;
	clear: both;
}
/* tipografia de parrafos de sección about */
p.left , p.right {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: white;
	text-align: left;
}

/* boton download de seccion about: ; */
.boton {
	width: 210px;
	height: 50px;
	padding: 7px;
	border: 1.5px solid white;
	display: inline-block;
	align-content: center;
	margin-top: 20px;
	border-radius: 5px;	
}

.boton a {
	margin-top: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: white;
	text-decoration: none;
}

.fa-download {
	color: white;
	font-size: 15px;
}
/* icono estrella */
.fa-star {
	color: white;
	font-size: 36px;
}

.stars {
	margin: 20px 0px;
}

.blackstar {
	margin: 20px 0px;
	text-align: center;

}

.blackstar i {
	color: black;
	font-size: 36px;
}

.line1 {
	width: 103px;
	height: 5px;
	display: inline-block;
	background: #fff;
	border: none;
	margin-bottom: 10px;
	margin-right: 9px;
}

.line2 {
	width: 103px;
	height: 5px;
	display: inline-block;
	background: #fff;
	border: none;
	margin-bottom: 10px;
	margin-left: 9px;
}
/* seccion de Contactos */
#date {
	width: 100%;
	height: 570px;
	margin-bottom: 80px;
}

.blackstar hr {
	background: black;
}

.titular {
	text-transform: uppercase;
	margin-top: 112px;
	text-align: center;
}

/* Formulario */

#form {
	margin-left: 300px;
    width: 700px;
}

form {
	margin: 0 auto;
	float: left;
	margin-top: 30px;
	width: 100%;
}

form input, textarea {
	width: 100%;
}

textarea#message {
	height: 200px;
}

#name, #email, #phone, #message {
	height: 50px;
	border:none;
	color: #C1BDBD;
	font-weight: bold;
	vertical-align: top;	
	border-bottom: 1px solid #E4E1E1;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	
}

#name::placeholder, #email::placeholder, #phone::placeholder, #message::placeholder {
	color: #868E95;
	font-weight: bold;
	vertical-align: top;
}

#button {
	max-width: 11%;
	margin-top: 20px;
	font-size: 18px;
	color: white;
	font-weight: bold;
	background-color: #28BB9C;
	border: none;
	padding: 12px 3px;
	border-radius: 4px;
}

/* Pie de Pagina o Footer */
footer {
	width: 100%;
	height: 342px;
	background-color: #2D3E4F;
	color: white;
}

.footer-column1 {
	width: 220px;
	height: 112px;
	display: inline-block;
	line-height: 1.5;
	margin-top: 60px;
    margin-left: 156px;
    text-align: center;
}

.footer-column1 h3 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 28px;
	margin-bottom: 44px;
}

.footer-column1 p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.footer-column2 {
	width: 350px;
	height: 127px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	margin-left: 50px;
}

.footer-column2 h3 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 28px;
	margin-bottom: 70px;
	margin-top: 60px;
}

 .rrss {
 	margin-bottom: 40px;
 }

.footer-column3 {
	width: 350px;
	height: 127px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	margin-left: 50px;
}

.footer-column3 h3 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 28px;
	margin-bottom: 38px;
}

.dif {
	color: #23DC90 ;
}
